################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webgpu_test2/x64/
/.vs/webgpu_test2
