################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/webgpu_test2
/x64/Debug
/webgpu_test2/x64/Debug
*.user
*.aps